.list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0;
  border-bottom: 1px solid grey;
}

.list__text {
  font-size: 2.2rem;
  font-weight: 800;
}

.list__text--date {
  color: var(--color-red);
  margin-left: 2rem;
}

.list__text--address {
  font-weight: 700;
  font-size: 1.8rem;
}

.list__text--quantity {
  font-size: 1.8rem;
  margin-left: 0.5rem;
  color: var(--color-red);
  font-weight: 800;
}

.list__text--cost {
  font-size: 1.5rem;
}

.list__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10rem;
}

.list__wrapper div {
  margin-right: 2rem;
}

.list__wrapper__internal {
  position: relative;
}

.list__button--tooltip {
  position: absolute;
  top: -30%;
  left: -5%;
}

.list__button--tooltip svg {
  font-size: 2rem;
  color: var(--color-red);
  left: 0;
}

@media (max-width: 1024px) {
  .list {
    flex-direction: column;
    align-items: flex-start;
  }

  .list__wrapper {
    margin-top: 2rem;
    margin-left: auto;
  }
}

@media (max-width: 583px) {
  .list__wrapper {
    margin-left: auto;
  }

  .list__text {
    font-size: 1.8rem;
    font-weight: 800;
  }
}

@media (max-width: 532px) {
  .list__wrapper {
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .list__wrapper button {
    margin-top: 3rem;
  }

  .list__button--tooltip {
    position: absolute;
    top: -85%;
    left: -5%;
  }
}

@media (max-width: 451px) {
  .list__wrapper div {
    margin-right: 0.5rem;
  }

  .list__button--tooltip {
    position: absolute;
    top: -90%;
    left: 0%;
  }
}
