@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@500;700;800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Homemade+Apple&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --color-red: #ff0000;
}

html {
  font-size: 62.5%;
  background-color: black;
  color: white;
  overflow-x: hidden;
}

body {
  font-family: 'Prompt', sans-serif;
}

h1,
h2 {
  font-size: 5.5rem;
}

button {
  outline: none;
  background: transparent;
  border: none;
  cursor: pointer;
  color: white;
}

input {
  outline: none;
  background: transparent;
  border: none;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #434343;
}

::-webkit-scrollbar-thumb {
  background: #6b6b6b;
}

::-webkit-scrollbar-thumb:hover {
  background: #6b6b6b;
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}
