.main {
  min-height: 100vh;
  min-width: 100vw;
  position: relative;
  z-index: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main__background {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  object-fit: cover;
  animation: zoom 35s linear infinite;
}

@keyframes zoom {
  0% {
    transform: scale(100%);
  }

  50% {
    transform: scale(170%);
  }
  100% {
    transform: scale(100%);
  }
}
.main__signature {
  position: fixed;
  bottom: 2%;
  right: 2%;
  font-family: 'Homemade Apple', cursive;
  font-size: 3.6rem;
  transform: rotate(-12deg);
}

@media (max-width: 500px) {
  .main__signature {
    font-size: 2.2rem;
  }
}
